<app-page-headers [pageTitle]="pageTitle"></app-page-headers>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="h5">Achievements</div>
      <p class="" *ngFor="let achievement of achievementContent">
        {{ achievement.description }}
      </p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img
        src="https://london-academy.org/photos/shares/22234.jpg"
        class="img-thumbnail"
        width="550px"
        alt="..."
      />
    </div>
  </div>
</div>
