<app-page-headers [pageTitle]="pageTitle"></app-page-headers>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="h5">Achievements</div>
      <p>Accreditation number of highly distinguished trainers in the world.</p>
      <p>Accrediting number of competent consultants in the world.</p>
      <p>
        Conducting the first Arabic and British Forums under the auspices of
        London academy.
      </p>
      <p>
        Preparing a number of joined programmes with British Orange Academy.
      </p>
      <p>
        Corporation with Walter British company to examine trainers in ISO
        specification in Britain
      </p>
      <p>
        Providing more than 2000 free training courses in the middle East and
        Africa.
      </p>
      <p>
        Preparing comprehensive programmes on quality by addressing British
        quality corporation.
      </p>
      <p>Preparing scientific British journal.</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img
        src="https://london-academy.org/photos/shares/22234.jpg"
        class="img-thumbnail"
        width="550px"
        alt="..."
      />
    </div>
  </div>
</div>
