<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img
        src="https://london-academy.org/photos/shares/smiling-man.jpg"
        class="img-thumbnail"
        width="550px"
        alt="..."
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="h5 mt-3">About London Academy</div>
      <div class="h1">London Academy for Training and Education</div>
      <div *ngFor="let about of aboutContent" class="about-item">
        <p class="">{{ about.description }}</p>
      </div>
      <button
        class="animated-button"
        data-text="Click Now"
        routerLink="/about-us"
      >
        Learn More
      </button>
    </div>
  </div>
</div>
