<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img
        src="https://london-academy.org/photos/shares/smiling-man.jpg"
        class="img-thumbnail"
        width="550px"
        alt="..."
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="h5">About London Academy</div>
      <div class="h1">London Academy for Training and Education</div>
      <p>
        The London Academy for Training and Education is a British training
        agency registered in British companies and Wales and from accredited
        bodies in Europe and around the world.
      </p>
      <p>
        The Academy was established in a systematic manner to serve training
        inside and outside Britain in accordance with international standards
        approved by training and scientific bodies and societies. The academy
        works in a number
      </p>
      <button class="animated-button" data-text="Click Now" routerLink="/about-us">Learn More</button>
    </div>
  </div>
</div>
