<app-page-headers [pageTitle]="pageTitle"></app-page-headers>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="about-section">
        <h2 class="about-title">About London Academy</h2>
        <div *ngFor="let about of aboutContent" class="about-item">
          <h3 class="about-item-title">{{ about.title }}</h3>
          <p class="about-item-description">{{ about.description }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6" *ngFor="let carousel of carousels">
      <img
        src="{{ apiImage + carousel.image }}"
        class="img-fluid rounded"
        alt="{{ carousel.title }}"
      />
    </div>
  </div>
</div>
