<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-4">
      <div>
        <img
          src="https://london-academy.org/photos/shares/services/3.png"
          class="img-thumbnail"
          width="200px"
          alt="..."
        />
      </div>
      <div>
        <img
          src="https://london-academy.org/photos/shares/services/1.png"
          class="img-thumbnail"
          width="200px"
          alt="..."
        />
      </div>
    </div>
    <div class="col-4">
      <div class="h4">Learn more about london academy</div>
      <div class="h1 mt-4">Our best services</div>
      <div>
        The Academy offers a number of training degrees recognized in Britain
        and around the world and issues accredited certificates in all
        disciplines. To ensure quality and true service, the Academy has adopted
        the registration number system for certificates. We always strive for
        excellence, creativity and innovation, and to provide advanced training
        services in accordance with global changes, and we strive to be the
        first academy in the world.
      </div>

      <div class="container text-center mt-4">
        <div class="btn btn-dark size" routerLink="/services">
          Learn More
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <img
          src="https://london-academy.org/photos/shares/services/2.png"
          class="img-thumbnail"
          width="200px"
          alt="..."
        />
      </div>
      <div>
        <img
          src="https://london-academy.org/photos/shares/services/4.png"
          class="img-thumbnail"
          width="200px"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
