<app-page-headers [pageTitle]="pageTitle"></app-page-headers>


<div class="container mt-5 mb-5">
    <div class="row">
      
      <div class="col-lg-6 col-sm-6">
        <div class="h5">About London Academy</div>
        <p>
          The London Academy for Training and Education is a British training
          agency registered in British companies and Wales and from accredited
          bodies in Europe and around the world.
        </p>
        <p>
          The Academy was established in a systematic manner to serve training
          inside and outside Britain in accordance with international standards
          approved by training and scientific bodies and societies. The academy
          works in a number
        </p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <img
          src="https://london-academy.org/photos/shares/smiling-man.jpg"
          class="img-thumbnail"
          width="550px"
          alt="..."
        />
      </div>
    </div>
  </div>
  