<div class="container mt-5 mb-5">
  <div class="">
    <div class="h1 mb-4">certificates</div>
    <p class="mb-4">Add certificates</p>

    <form>
      <div class="col-lg-12 col-sm-12 mb-3">
        <input
          type="file"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="icon"
        />
      </div>
      <div class="col-lg-12 col-sm-12 mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Serial Number"
        />
      </div>

      <div class="containermt-5 mb-5">
        <div class="btn btn-dark">Send</div>
      </div>
    </form>
  </div>
</div>
