<div class="hover container-fluid bg-dark d-none d-lg-block">
  <div class="row">
    <div class="col-2 col-md-6 col-lg-8">
      <div class="h-100 d-inline-flex align-items-center text-white">
        <i class="fas fa-phone me-2"></i>
        <a class="me-5" href="tel:+01068743043">010 687 43 0 43 </a>
        <i class="fa-regular fa-envelope fa-sm d-none d-lg-block"></i>
        <a
          class="btn btn-link text-decoration-none d-none d-lg-block"
          href="mailto:info@rimansan.net"
        >
          {{ email }}
        </a>
        <div class="d-none d-lg-block"></div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 text-end">
      <div class="h-100 d-inline-flex align-items-center text-white px-2">
        <a href="https://www.facebook.com/rimansan.net" target="_blank">
          <i class="p-1 me-2 fab fa-facebook-f fa-xs"></i
        ></a>
        <a href="https://www.linkedin.com/company/riman-san/" target="_blank">
          <i class="p-1 me-2 fab fa-linkedin-in fa-xs"></i
        ></a>
        <a href="https://www.tiktok.com/@rimansan.net" target="_blank">
          <i class="p-1 me-2 fab fa-tiktok fa-xs"></i
        ></a>
        <a href="https://www.youtube.com/@-rimansan" target="_blank">
          <i class="p-1 me-2 fab fa-youtube fa-xs"></i
        ></a>
        <a href="" target="_blank">
          <i class="p-1 me-2 fab fa-instagram fa-xs"></i
        ></a>
      </div>
    </div>
  </div>
</div>
