<div class="container-fluid bg-dark text-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4">
          <img
            src="https://london-academy.org/photos/shares/logo/footer-logo.png"
            class=""
            width="200px"
            alt="..."
          />
        </div>
        <div>
          Preparing distinctive training bags. Raising training thinking to
          creativity. Progressive assessment, for performance and achievement
          levels..
        </div>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4">Sitemap</div>
        <div>Home</div>
        <div>About Us</div>
        <div>Services</div>
        <div>Achievements</div>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4">Useful links</div>
        <div>Home</div>
        <div>About Us</div>
        <div>Services</div>
        <div>Achievements</div>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4">Contact info</div>
        <div>62 Camden Road, Camden Town, London, United Kingdom, NW1 9DR.</div>
        <div>+447888756602</div>
        <div>infolondon-academy.org</div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-9 co-sm-12">
        ©2023 london-academy.org. All Rights Reserved
      </div>
      <div class="col-lg-3 co-sm-12">Design & Development: prosmart co</div>
    </div>
  </div>
</div>
