<div class="container-fluid bg-dark text-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4">
          <img
            src="{{ 'assets/images/logo.png' }}"
            class=""
            width="200px"
            alt="..."
          />
        </div>
        <div class="color-hover">
          Preparing distinctive training bags. Raising training thinking to
          creativity. Progressive assessment, for performance and achievement
          levels.
        </div>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4 color-hover">Sitemap</div>
        <a class="color-hover d-block d-block" routerLink="">Home</a>
        <a class="color-hover d-block" routerLink="/about-us">About Us</a>
        <a class="color-hover d-block" routerLink="/services">Services</a>
        <a class="color-hover d-block" routerLink="/achievements">Achievements</a>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4 color-hover">Useful links</div>
        <a class="color-hover d-block" routerLink="/courses">Courses</a>
        <a class="color-hover d-block" routerLink="/contact-us">Contact Us</a>
        <a class="color-hover d-block" routerLink="/accredited-certificates">Certificates</a>
      </div>
      <div class="col-lg-3 co-sm-12">
        <div class="mb-4 color-hover">Contact info</div>
        <div class="color-hover">
          62 Camden Road, Camden Town, London, United Kingdom, NW1 9DR.
        </div>
        <a class="color-hover" href="tel:+01068743043">010 687 43 0 43 </a>
        <div class="color-hover">rimansan-academy.net</div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-9 co-sm-12 color-hover">
        ©2024 rimansan-academy ,All Rights Reserved
      </div>
      <div class="col-lg-3 co-sm-12 color-hover">
        Design & Development: riman-san
      </div>
    </div>
  </div>
</div>
