<div class="container mt-5 mb-5" *ngIf="course">
  <div class="row">
    <div class="col-9">
      <div>{{ course.title }}</div>
      <div>
        {{ course.description }}
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="{{ imageUrl + course.img }}"
          class="card-img-top"
          alt="{{ imageUrl + course.img }}"
        />
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p class="">price</p>
            </div>
            <div class="col-4">
              <small class=""> {{ course.price }}</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Course Duration</p>
            </div>
            <div class="col-4">
              <small>5h 19m 5s</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Course Level</p>
            </div>
            <div class="col-4">
              <small>Medium</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Language</p>
            </div>
            <div class="col-4">
              <small>Arabic</small>
            </div>
          </div>

          <div class="mb-3">
            <a href="#" class="btn btn-dark card-link w-100"
              >Enroll The Course</a
            >
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="btn btn-dark card-link">Add To WishList</a>
            </div>
            <div class="col">
              <a href="#" class="btn btn-dark card-link">Share Course</a>
            </div>
          </div>

          <div class="">5 h 19 m 5 s Video Lectures</div>
          <div>0 Quizzes</div>
          <div>0 Assignments</div>
          <div>0 Downloadable Resources</div>
          <div>Full Lifetime Access</div>
          <div>Certificate of Completion</div>
        </div>
      </div>
    </div>
  </div>
</div>
