<div class="container mt-5 text-center">
  <div class="h1">Why Choose Us</div>
</div>

<div class="container">
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
