<div class="container mt-5 text-center">
  <div class="h1">Why Choose Us</div>
</div>

<div class="container">
  <div class="row mb-4">
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-7.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Professional Programs</h5>
            <div class="card-text">
              A number of administrative, engineering and quality fields.
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-6.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Educational programs</h5>
            <div class="card-text">
              In management, human resources, self-development, and a number of
              other.
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-2.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Accreditation of trainers</h5>
            <div class="card-text">
              Coaches are certified under conditions while giving them a number
              of.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-5.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Accreditation of training centers</h5>
            <div class="card-text">
              The academy accredits training centers and expects distinguished.
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-3.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Fellowships</h5>
            <div class="card-text">
              Providing a number of fellowships with many advantages.
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12 mt-2">

      <div class="card" style="height: 8rem">
        <div class="row">
          <div class="card-icon col-3">
            <img
              src="https://london-academy.org/photos/shares/services/icon-4.png"
              alt="Accreditation of trainers"
              class="hover-icon"
            />
          </div>
          <div class="card-body col-9">
            <h5 class="card-title">Certificates Documentation</h5>
            <div class="card-text">
              Certificates authentication service from Data Flow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
