<div class="container mt-5 text-center">
  <div class="h1">Why Choose Us</div>
</div>

<div class="container">
  <div class="row mb-4">
    <ng-container *ngFor="let service of serviceContent; let i = index">
      <div class="col-lg-4 col-sm-12 mt-4">
        <div class="card" style="height: 8rem">
          <div class="row">
            <div class="card-icon col-3">
              <img
                src="{{ imageUrl + service.image }}"
                alt="{{ service.image }}"
                class="hover-icon"
              />
            </div>
            <div class="card-body col-9">
              <h5 class="card-title">{{ service.title }}</h5>
              <div class="card-text">
                {{ service.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
