  <div class="react-breadcrumbs">
    <div class="breadcrumbs-wrap">
      <img
        src="https://london-academy.org/themes/front/images/breadcrumbs/1.jpg"
        width="100%"
        alt="..."
      />
      <div class="breadcrumbs-inner">
        <div class="container">
          <div class="breadcrumbs-text">
            <!-- <h1 class="breadcrumbs-title">Achievements</h1> -->
            <h1 class="breadcrumbs-title">{{ pageTitle }}</h1> <!-- Use the pageTitle variable here -->
          </div>
        </div>
      </div>
    </div>
  </div>
