<app-page-headers [pageTitle]="pageTitle"></app-page-headers>

<div class="container mb-5 mt-5">
  <form>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputName"
        placeholder="Enter your name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail2" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail2"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword2"
        placeholder="Password"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
