<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let course of courseContent">
      <div class="card mb-4">
        <img
          src="{{ imageUrl + course.img }}"
          class="card-img-top img-fluid"
          alt="{{ imageUrl + course.img }}"
        />
        <div class="card-body">
          <a [routerLink]="'/course/' + course.id" class="h5 card-title">
            {{ course.title }}
          </a>
          <p class="card-text">{{ course.description }}</p>
          <a [routerLink]="'/course/' + course.id" class="btn btn-primary"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
