<div class="col-4">
  <div class="card mb-4" style="width: 18rem">
    <img
      src="https://london-academy.org/lms/uploads/course/1709832226-RFK1IfM5ls.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <a  routerLink="/cousreDDDDD" class="h5 card-title">Distinction in customer service</a>
      <p class="card-text">
        It takes months to find a customer, and seconds to lose them. “Maybe
        this is one of the... The most famous sayings
      </p>
      <a routerLink="/cousreDDDDD" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
