<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-9">
      <div>PRINCE 2</div>
      <div>
        Why Use A Project Management Method? Project Management Methodologies
        What Is PRINCE2? Comparison to PMBOK Key Features Benefits of Using
        Prince2 Prince2 Foundation Exam Prince2 Foundation Course Objectives
        Prince2 Practitioner Examination Six Aspects of Project Structure of
        Prince2 Principles of prince2 PRINCE2 Themes The PRINCE2 Processes
      </div>
      <div>| Author Level 5</div>
      <div>0.0 (0) 0 Students</div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://london-academy.org/lms/thumbs/600x400/uploads/course/1709829294-lDdXUqqqWc.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p class="">£ 50.00 £ 75.00</p>
            </div>
            <div class="col-4">
              <small class=""> 33.33% off</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Course Duration</p>
            </div>
            <div class="col-4">
              <small>5h 19m 5s</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Course Level</p>
            </div>
            <div class="col-4">
              <small>Medium</small>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p class="">Language</p>
            </div>
            <div class="col-4">
              <small>Arabic</small>
            </div>
          </div>

          <div class="mb-3">
            <a href="#" class="btn btn-dark card-link w-100"
              >Enroll The Course</a
            >
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="btn btn-dark card-link">Add To WishList</a>
            </div>
            <div class="col">
              <a href="#" class="btn btn-dark card-link">Share Course</a>
            </div>
          </div>

          <div class="">5 h 19 m 5 s Video Lectures</div>
          <div>0 Quizzes</div>
          <div>0 Assignments</div>
          <div>0 Downloadable Resources</div>
          <div>Full Lifetime Access</div>
          <div>Certificate of Completion</div>
        </div>
      </div>
    </div>
  </div>
</div>
